<article class="home-container">
	<section class="sidebar">
		<% if (theme.sidebar.avatar) { %>
			<img class="avatar" src="<%= theme.sidebar.avatar %>" />
			<p>
				<%= config.description %>
			</p>
			<% } %>
				<% if (theme.sidebar.notice) { %>
					<div class="notice">
						<h3>公告</h3>
						<p>
							<%- theme.sidebar.notice %>
						</p>
					</div>
					<% } %>
	</section>
	<section class="index-container">
		<% page.posts.each(function (post) { %>
			<article class="post">
				<div class="post-title">
					<a class="post-title-link" href="<%- url_for(post.path) %>">
						<%= post.title %>
					</a>
				</div>
				<div class="post-content">
					<%- post.excerpt %>
				</div>
				<div class="post-meta">
					<span class="post-time">
						<%- date(post.date, "YYYY-MM-DD" ) %>
					</span>
					<a class="post-read-more-link" href="<%- url_for(post.path) %>">查看全文</a>
				</div>
			</article>
			<% }) %>
				<%- partial('_partial/paginator') %>
	</section>
	<!-- go-top -->
	<a id="goTop" class="go-top" type="button">^</a>
	<script>
		goTop.addEventListener('click', function (e) {
			document.querySelector('.index-container').scrollTo(0, 0);
		});
	</script>
</article>